

*{
    margin:0px;
    padding:0px;
    }

   
.co {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   }
  
  h2 {
    text-align: center;
    font-size: 34px;
    font-weight: lighter;
    color:white;
    margin-bottom: 24px;
  }
  
  .courses {
    display:flex;
    flex-wrap:initial;
    justify-content: center;
    gap: 20px;
  }
  
  .course-card {
    width: calc(50% - 20px);
    background-color:transparent #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
    opacity: 0.9;
  }
  
  .course-card:hover {
    transform: translateY(-5px);
  }
  
  .course-card h3 {
    margin-top: 0;
  }
  
  .description {
    display: none;
  }
  
  .course-card:hover .description {
    display:ruby-base;
  }
  
